header markers:
  -- ****
remark markers:
  --
end markers:
  -- ****
headertypes:
  f Subprograms robo_subprograms
  h Packages robo_packages
keywords:
  procedure
  function
  return
  is
  type
  record
  pragma
  end
  package
  new
  access
  not
  null
  subtype
  renames
  range
  out
  in
  constant
  private
